@import "variables";


#footer {
 background: $gray;
 border-top: 1px solid #ccc;
 font-family: Barlow Condensed;


 .inside {
  color: white;
  font-size: 25px;
  letter-spacing: 1px;

  .box-wrapper {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   margin: 30px 500px;

   .ce_image {
    transform: translateY(-80px);
    background-color: #374049;
    padding: 10px;
    box-shadow: 0 0 10px #171e26;
   }
  }


  .social-icons{
   display: flex;
   justify-content: space-between;
   margin: 20px auto;
   padding: 0;
   list-style: none;
    width: 200px;

   li a{
    color: white;
    cursor: pointer;
    img{
     width: 25px;
    }
   }
  }

.footer1 {
 display: flex ;
 justify-content: space-between;
 margin: 20px auto;
 padding: 0;
 width: 160px;
 font-size: 15px;
  a{
    text-decoration: none;
    color: $yellow;
   }
  }
 }
}
