@import "variables";

#header{
  position: absolute;
  z-index: 200;
  width:100%;background-color: $gray-transparent;
  transform: translateY(-53px);
  font-family: Barlow Condensed;
  font-size: 20px;

  .inside{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    .mod_navigation{
      width: 80%;
      position: relative;
      ul{
        display: flex;
        width: 100%;
        justify-content: space-between;
        position: absolute;
        bottom: 20px;
        padding: 0;
        margin: 0;
        list-style: none;
        text-transform: uppercase;
        li a{
          text-decoration: none;
          color: white;
          cursor: pointer;

        }
      li a:hover{
        border: 3px solid #710c13;
        color: black;
        background-color: transparent;
        }

      }

    }
    #logo{
      width: auto;
      padding: 20px;
      transform: translateY(40px);
      background-color: $gray-transparent ;
     img {
       width: 100px;
     }
    }

  }

}

