@import "variables";
.banner-image-article{
  position: relative;
}
h1{
  position: absolute;
  bottom: 130px;
  color: white;
  width: 100%;
  text-transform: uppercase;
  height: 10px;
  text-align: center;

}
/** Buttons **/
.button a {
  position: absolute;
  display: inline-block;
  padding: 8px 8px;
  background: transparent;
  font-size: 20px;
  margin: 8px -5%;
  bottom: 50px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  border-radius: 2px;
  border: 3px solid white;
  transition: all 0.3s ease 0s;
  text-align: center;
  width: 10%;
}
.button a:hover{
  border: 3px solid #2ecc71;
  color: #2ecc71;
  background-color: transparent;
  transform: rotate(-45deg);
}
.mod_navigation {
  margin-top: 60px;

  .mod_navigation ul {
    margin: 0;
    padding: 0;
  }
}
.header-image{
  img{
    width: 100%;

  }
}

.sidebar{
  position: fixed;
  top: 20%;
  z-index: 200;
  transform: translateY(-20%);
  color: white;
  right: 0;


  a{
    color: white;
    width: 130px;
    padding: 25px;
    text-decoration: none;
    background: $yellow;
    text-transform: uppercase;
    font-size: 20px;
    font-family: Barlow Condensed;
    margin: 20px 0;
    display: block;
    text-align: center;

  }
}
.mod_article{
  text-align: center;
  text-transform: uppercase;

  .button1 a {
    display: inline-block;
    padding: 12px 30px;
    background:	$yellow;
    font-size: 22px;
    margin: 50px 0;
    text-align: center;
    color: #fff;
    font-weight: 700;
    border-radius: 2px;
    border: 0;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
}
button {
  cursor: pointer;

}
.caroufredsel_skin{
  position: relative;
}

.caroufredsel_controls .caroufredsel_prev {
  position: absolute;
  left: 90px;
  top: 50%;
  transform: translateY(-100%);
  img{
    width: 60px;

  }
}

.caroufredsel_controls .caroufredsel_next {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-100%);
  img{
    width: 60px;

  }
}
.image_container img{
  margin: 0 8px;
}

.caption{
  text-align: center;
  font-size: 21px;
  font-weight: bolder;
  letter-spacing: 1px;
}

#menu-image-article{
  position: relative;
}
#menu-image{
  img{
    width: 100%;

  }
}

/*#menu-image h1{
  position: absolute;
  margin: 700px 600px;
}
*/
.button-right a {
  position: absolute;
  top: 50%;
  right: 16%;
  color: white;
  padding: 12px;
  font-weight: bolder;
  text-decoration: none;
  border: 3px solid white;
  width: 150px;
  transition: all 0.5s ease 0s;
  font-family: Barlow Condensed;
  text-transform: uppercase;
}
#description{
  position: absolute;
  top: 45%;
  left: 30%;

}
.image-slogan img{
  position: absolute;
  top: 38%;
  right: 15%;
}
#container-main{
 margin:  30px 8% 50px 8%;
}

#text{
  text-align: center;
  text-transform: none;
  line-height: 22px;
  font-size: 18px;
}


.box-wrapper1 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 57px 7%;
  width: 90%;
 max-width: 1550px;

  .box-left1,  .box-middle1{
     background: $gray;
     color: white;
     padding: 40px 40px 80px;
    text-transform: none;
    text-align: left;
    font-size: 20px;
    background-image: url("../layout/arrow-right.svg");
    background-position: bottom 48px left 40px;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30%;
    box-sizing: border-box;
  }
  .box-right1, .box-left1, .box-middle1 p, h2, a{
    color: white;
  }

  .box-right1{
    background: $yellow;
    color: white;
    padding: 40px 40px 80px;
    text-transform: none;
    text-align: left;
    font-size: 20px;
    background-image: url("../layout/arrow-right.svg");
    background-position: bottom 48px left 40px;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30%;
    box-sizing: border-box;
  }

}
#image-description{
  text-transform: none;
  text-align: left;
  font-size: 20px;
  h2, h3{
    text-transform: uppercase;
    font-weight: 700;
  }
}
#image-description .text1{
  margin-top: 8%;
}
.email:before {
  content: "";
  display: block;
  background: url("../layout/mail.svg") no-repeat;
  width: 30px;
  height: 23px;
  float: left;
  margin: 0 6px 0 0;
  background-size: 21px;
}
.telefon:before{
  content: "";
  display: block;
  background: url("../layout/phone.svg") no-repeat;
  width: 30px;
  height: 23px;
  float: left;
  margin: 0 6px 0 0;
  background-size: 21px;
}
figure.float_left {
  margin-right: 88px;
  width: 50%;
}

.formular{
  float: right;
  position: relative;
  margin-right: 28%;
  top: -45px;


  li{
    border: 1px solid black;
    padding: 8px;
    list-style: none;
    a{
      text-decoration: none;
      color: black;
    }
  }
  li:before{
    content: "";
    display: block;
    background: url("../layout/download.svg") no-repeat;
    width: 30px;
    height: 23px;
    float: left;
    margin: 0 6px 0 0;
    background-size: contain;
  }
}

#block{
  position: relative;
  margin-top: 120px;
  p{
    text-transform: none;
  }
}
/* Formlar Kursplan */
#formular1 {
 margin: -27px 40%;
  padding: 20px;
  li {
    border: 1px solid black;
    padding: 8px;
    list-style: none;
    a {
      text-decoration: none;
      color: black;
    }
  }
  li:before{
    content: "";
    background: url("../layout/download.svg") no-repeat;
    width: 29px;
    height: 23px;
    float: left;
    background-size: contain;
  }
}
/** Tabelle **/
table {
  width: 90%;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  margin: 40px 5% 95px;
  max-width: 1550px;
}

th,td {
  border: 1px solid black;
  padding: 5px 10px;

}

/*th {
  background: $yellow;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 12px;
  font-family: "Barlow Condensed";
  font-size: 25px;
} */

.th {
  background: $yellow;
  font-weight: 600;
  text-align: center;
  color: white;
  padding: 12px;
  font-family: "Barlow Condensed";
  font-size: 25px;
}
/* Kursplan*/
.courses{

  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin: 70px auto;
  width: 90%;
  max-width: 1550px;
}
.courses .ce_text {
  width: 48%;
  border: 2px solid gray;
  margin: 8px auto;
  box-sizing: border-box;
  text-align: left;
  font-size: 17px;
  figure{
    float: left;
    width: 48%;
  }
}
.courses p, h2, a{
  text-decoration: none;
  color: black;
}
.courses h2, a{
  text-transform: none;
}

.arrow-right:before, .arrow-right1:before{
  content: "";
  background: url("../layout/arrow-right1.svg") no-repeat;
  width: 50px;
  height: 67px;
  float: left;
  background-size: 60px;
}
.arrow-right a, .arrow-right1 a{
  position: absolute;
  margin: 15px;
  font-size: 17px;
}
.image-description1{
  text-transform: none;
  text-align: left;
  font-size: 20px;
  width: 95%;
  max-width: 1550px;
  margin: 97px auto;
  min-height: 80vh;
 .left-text{
    text-transform: none;
    font-family: "Barlow Condensed";
    line-height: 32px;
  }

  h2 {
    text-transform: uppercase;
  }
  .float_above {
    position: absolute;
    right: 0;
    width: 50vw;

    img {
      width: 100%;
    }
  }
}
.image-description2 {
  text-transform: none;
  text-align: left;
  font-size: 20px;
  width: 95%;
  max-width: 1550px;
  margin: 97px 54%;
  min-height: 80vh;
.right-text {
    text-transform: none;
    font-family: "Barlow Condensed";
    line-height: 32px;
  }
  h2 {
    text-transform: uppercase;
  }
.float_above {
    position: absolute;
    left: 0;
    width: 50vw;
  img {
      width: 100%;
    }
  }
}

#image-description1{
  text-transform: none;
  background: url("../layout/lift-bg2.png") no-repeat bottom right/cover;
  min-height: 80vh;
  margin-top: 0;
  text-align: left;
  font-size: 20px;
  p, h2, h3{
    text-transform: none;
    margin-left: 20%;
    font-family: "Barlow Condensed";
    line-height: 32px;
  }
  h2, h3{
    text-transform: uppercase;
  }
}
#image-description1 .text{
  margin: 13% -25%;
  }

.coaches{
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
  margin: 89px auto;
  max-width: 1550px;
}
/* Formular */
.formbody{
  margin-top: 100px;
  margin-right: -53%;
}
label{
  display: inline-block ;
  margin-right: 8%;
  padding: 8px;
  border: 2px solid #999;
  outline: 0;
  width: 7%;
  border-radius: 2px;
  background: white;
  text-transform: none;
  font-size: 15px;
  font-family: "Barlow Condensed";
  color: black;
  margin-top: -10px;
  letter-spacing: 1px;
}
label:before{
  content: "";
  background: url("../layout/upload.svg") no-repeat;
  width: 29px;
  height: 23px;
  float: left;
  background-size: contain;
}

input,
textarea{
  margin-bottom: 32px;
  padding: 8px;
  border: 1px solid #999;
  width: 15%;
  border-radius: 2px;
  background: $yellow;
  text-transform: uppercase;
  font-size: 15px;
  font-family: "Barlow Condensed";
  color: white;
}
.upload{
  display: none;
}
.submit{
  cursor: pointer;
  background: $yellow;
  color: white;
  width: 5%;
  margin-right: 10%;
  padding: 8px;
  margin-top: 20px;
  margin-bottom: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  text-decoration: none;
  border-radius: 2px;
  border: 0;
  font-weight: 700;
  display: inline-block;
  font-size: 15px;
}